<div class="mt-4">
    {% if user.is_authenticated %}
    <a href="{% url 'products' %}" 
       class="btn button-black-outline btn-prev checkout-button py-2 mr-auto mr-lg-3">
       &larr;Lanjut&nbsp;Belanja
    </a>
    <a href="{% url 'order_history' %}" class="btn button-green checkout-button py-2 mr-auto mr-lg-3">
        Lihat&nbsp;detail&nbsp;order&nbsp;histori
    </a>

    {% else %}
    <div class="text-right">
        <a href="{% url 'products' %}" 
            class="btn button-black-outline btn-prev checkout-button py-2 mr-auto mr-lg-3">
            Lanjut&nbsp;Belanja&nbsp;&rarr;
        </a>
    </div>
    {% endif %}
</div>