<div class="col-12 col-md-8 offset-md-3 col-lg-6 offset-lg-5 my-4 mt-md-5 py-3 text-center events-text-block">
    <h1 class="uppercase main-heading heading-events"> Promo minggu ini</h1>
    <hr class="w-25 my-3">
    <p class="events-paragraph">
        Nikmati gratis ongkos 
        <br/> Setiap pembelian 2 atau lebih prodak kami 
        <br/>
        anda akan mendapatkan gratis ongkos kirim!
    </p>
    <p class = "events-paragraph">
        Kamu bisa melihat promo mingguan yang sedang berlangsung disini.
        <br/> Promo ini berlaku hanya untuk pengiriman di indonesia
    </p>
    <img src="{{ STATIC_URL }}icons/icon-heart.png" alt="icon-heart">
</div>