<div class="col-12 col-lg-5 ">
        <h4 class=" mb-3 font-weight-bold">Jual Case bandung</h4>
        <p><i class="fas fa-map-marker-alt mr-3 icon-green"></i>
        JL.Cikutra no 10 rt 03 rw 21, 
        <br/>Bandung, Indonesia </p>
        <p><i class="fas fa-phone-alt mr-3 icon-green"></i><a href="tel:+1029383892" class="email-phone-link"> +01928347839s</a></p>
        <p><i class="fas fa-envelope mr-3 icon-green"></i>
            <a href="mailto:Jualcase@Bandung.com?subject=ArtOfTea" class="email-phone-link">jualcase@bandung.com</a>
        </p>
</div>   
<div class="col-12 col-lg-7 text-left w-100"  
        data-aos="fade-up" data-aos-duration="1000" 
        data-aos-easing="ease-in-out">   
    <div id="map"></div>
</div>    
