asgiref==3.3.1
attrs==20.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.6
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.1.7
django-allauth==0.44.0
django-countries==7.1
django-crispy-forms==1.11.2
django-mathfilters==1.0.0
django-paypal==1.1
django-storages==1.11.1
django-tempus-dominus==5.1.2.13
idna==2.10
more-itertools==8.7.0
mysqlclient==2.0.3
oauthlib==3.1.0
optionaldict==0.1.2
packaging==20.9
paypalrestsdk==1.13.1
paypay==0.1.0
Pillow==7.1.0
pluggy==0.13.1
psycopg2-binary==2.8.6
py==1.10.0
pycparser==2.20
pycryptodomex==3.7.2
PyJWT==2.0.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytest==5.4.1
pytest-django==3.9.0
python-alipay-sdk==1.10.1
python-dateutil==2.8.1
python-decouple==3.0
python-dotenv==0.12.0
python3-openid==3.2.0
pytz==2021.1
requests==2.25.1
requests-oauthlib==1.3.0
six==1.14.0
sqlparse==0.4.1
static3==0.7.0
stripe==2.56.0
Unipath==1.0
urllib3==1.26.4
views==0.3
wcwidth==0.2.5
webencodings==0.5.1
wechatpy==1.8.15
whitenoise==5.0.1
xmltodict==0.12.0
