<table class="table table-sm">
    <tbody>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">Nama lengkap</td>
            <td id="full_name_table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">Email</td>
            <td id="email_table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">nomor telepon</td>
            <td id = "phone_number_table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">Alamat</td>
            <td id = "address_line1_table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">jalan</td>
            <td id = "address_line2_table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">Kota/Kab</td>
            <td id = "town_or_city_table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">kecamatan</td>
            <td id = "county_table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">kode pos</td>
            <td id = "postcode_table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">kelurahan</td>
            <td id= "country_table"></td>
        </tr>
    </tbody>
</table>