<div class="container" data-aos="fade-up" data-aos-duration="1100">
    <div class="row" >
        <div class="col text-center span-benifits-container">
            <span class="span-benifits uppercase px-5 py-3">Keuntungan&nbsp;Belanja di toko kami</span>
        </div>
    </div>
    <div class="row mt-5 text-center benifits-section">
    <!--Your choice-->
        <div class="col-sm-12 col-md-6 px-lg-3" data-aos="fade-up-right" data-aos-duration="1200">
            <h4 class="main-heading">
            case terjamin
            </h4>
            <img src="{{ STATIC_URL }}icons/icon-heart-in-heands.png" alt="icon-heart-in-heands">
            <p class="mt-4 mb-4 px-lg-5 benifits-paragraph">
                toko kami telah bekerja sama dengan beberapa perusahaan pembuat case yang memiliki
                sertifikasi standar iso
            </p>
        </div>
    <!--Our tea experts-->
        <div class="col-sm-12 col-md-6 px-lg-3" data-aos="fade-up-left" data-aos-duration="1200">
            <h4  class="main-heading">
                berbagai macam pilihan
            </h4>
            <img src="{{ STATIC_URL }}icons/icon-tea-master.png" alt="icon-tea-master">
            <p class="mt-4 mb-4 px-lg-5 benifits-paragraph">
                semua case di toko kami akan selalu update karena mimiliki data berdasarkan pengguna
                handphone di negara ini maupun luarnegri
            </p>
        </div>
    <!--Best tea quality-->
        <div class="col-sm-12 col-md-6 mt-lg-3 px-lg-3" data-aos="fade-up-right" data-aos-duration="1500">
            <h4  class="main-heading">
                Bergaransi
            </h4>
            <img src="{{ STATIC_URL }}icons/icon-tea-leaf.png" alt="icon-tea-leaf">
            <p class="mt-4 mb-4 px-lg-5 benifits-paragraph">
                Pesanan anda rusak? atau tidak sampai tenang kami memiliki garansi nya dengan
                syarat dan ketentuan yang berlaku
            </p>
        </div>
    <!--We are flexible-->
        <div class="col-sm-12 col-md-6 mt-lg-3 px-lg-3" data-aos="fade-up-left" data-aos-duration="1500">
            <h4  class="main-heading">
                Part lain?
            </h4>
            <img src="{{ STATIC_URL }}icons/icon-teapot.png" alt="icon-teapod">
            <p class="mt-4 mb-4 px-lg-5 benifits-paragraph">
                Selain menjual case kami juga menjual beberapa part untuk handphone anda
            </p>
        </div>
    </div>
    <div class="row text-center mb-5">
        <div class="col-sm-12 col-md-6 offset-md-3 mt-lg-3 px-lg-3" data-aos="fade-up" data-aos-duration="1800">
    	    <!--Solitude and relaxation-->
            <h4  class="main-heading">
                Pengalaman pembeli
            </h4>
            <img src="{{ STATIC_URL }}icons/icon-aromatherapy.png" alt="icon-aromatherapy">
            <p class="mt-4 mb-4 px-lg-5 benifits-paragraph">
                toko kamu sudah ada sejak tahun 2012, dan sudah terjamin akan kualitasnya
            </p>
        </div>
    </div>
</div>