<div class="events-container-landing">
    <div class="container">
        <div class="row d-flex align-items-center" data-aos="fade-up" data-aos-duration="1500">
            <div class="col-sm-12 col-md-8 col-lg-6  mb-3 mt-3 jumbotron">
                <h2 class="text-center main-heading"><strong>Jual case bandung</strong> selalu hadir dengan berbagai macam promo </h2>
                <hr class="divider-green w-50 mt-4">
                <p  class = "text-center landing-paragraph mb-lg-4 mt-lg-4">
                    Setiap harinya ada promo dan kejutan untuk anda
                    <br/>Tidak ada promo member lama maupun baru  
                    <br/>Karena semua sama
                </p>
                <div class="text-center mt-4">
                <a href="{% url 'events' %}" class="btn button-black  uppercase px-3">
                    Lihat&nbsp; &nbsp;promo
                </a>
                </div>
            </div>
        </div>
    </div>
</div>