<div class="row text-center d-flex align-items-center pt-4 mb-5 mt-3">
    <!--Our mission paragraph-->
    <div class="col-12 col-md-6 col-lg-5">
        <h3 class="text-center main-heading text-salmon">Misi&nbsp;kami</h3>
        <p  class = "text-center landing-paragraph mt-lg-4">
            Misi kami dalam menjalankan usaha ini adalah dengan membuat pelindung hp yang sesuai
            dengan keinginan dan kebutuhan konsumen, membuat hp yang di gunakan aman dan nyaman
            <br/>
        </p> 
        <div class="text-center">
            <i class="fab fa-pagelines icon-green icon-large"></i>
        </div>
        <p class = "text-center landing-paragraph mb-lg-4 mt-lg-4"> 
            
        </p>
    </div>
    <!--Our mission carousel-->
    <div class="col-12 col-md-6 col-lg-7" data-aos="fade-in" 
        data-aos-duration="1000" data-aos-easing="ease-in-out">
        <div id="our-mission-carusel" class="carousel slide" 
            data-ride="false" data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ STATIC_URL }}img/about/teapot-and-cup-with-leaves.jpg" 
                    class="d-block w-100 img-fluid" alt="teapot-and-cup-with-leaves">
                </div>
                <div class="carousel-item">
                    <img src="{{ STATIC_URL }}img/about/making-matcha-tea.jpg" 
                    class="d-block w-100 img-fluid" alt="making-matcha-tea">
                </div>
                <div class="carousel-item">
                    <img src="{{ STATIC_URL }}img/about/hand-tea-farmhouse.jpg" 
                    class="d-block w-100 img-fluid" alt="hand-tea-farmhouse">
                </div>
                <div class="carousel-item">
                    <img src="{{ STATIC_URL }}img/about/tea-in-nature.jpg"
                     class="d-block w-100 img-fluid" alt="tea-in-nature">
                </div>
                <div class="carousel-item">
                    <img src="{{ STATIC_URL }}img/about/peppermint-tea-on-teacup.jpg" 
                    class="d-block w-100 img-fluid" alt="peppermint-tea-on-teacup">
                </div>  
            </div>
            <a class="carousel-control-prev" href="#our-mission-carusel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Sebelumnya</span>
            </a>
            <a class="carousel-control-next" href="#our-mission-carusel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Selanjutnya</span>
            </a>
        </div>
    </div>
</div>