 <div class="col-12 col-md-6 col-lg-5 mb-3">
    <h3 class="text-center main-heading text-salmon">&nbsp; &nbsp;</h3>
    <p class = "text-center landing-paragraph mt-lg-4">
        <strong>Jual&nbsp;Case&nbsp;Bandung</strong>  adalah toko kecil yang berusaha merambat pasar global
    </p>
    <p class = "text-center landing-paragraph mt-lg-4">
        kita telah berkolaborasi dengan beberapa perusahaan pembuat case handphone dari berbagai merk,
        terutama handphone yang sering digunakan masyarakat indonesia
    </p>
</div>
<div class="col-12 col-md-6 col-lg-7 mb-3" data-aos="fade-in" 
    data-aos-duration="2000" data-aos-easing="ease-in-out">
    <img src="{{ STATIC_URL }}img/about/our-team.jpg" class="img-fluid" alt="our-team">
</div>